*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Ignore IDE and editor specific files
# *.sublime-project
# *.sublime-workspace
# *.code-workspace
# *.vscode
# *.idea
# *.phpstorm.meta.php

# Ignore .husky files
.husky/_/husky.sh
.husky/pre-commit
# .husky/pre-push
# .husky/commit-msg